
.overlay{
    position: fixed;
    top: 0%;
    left: 0%;
     right: 1000px;
    bottom: 0%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;

}
.clic{
  position: fixed;
    top: 0%;
    left: 0%;
     right: 0%;
    bottom: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
 
 background-color: #938e86;
 margin: auto;
 padding: 40px 15px;
}
.clic button{
  background-color: greenyellow;
  padding: 15px 25px;
  cursor: pointer;
  box-shadow: 10px 10px 5px lightblue;
 
}
.overlay button{
  position: fixed;
    top: 0%;
    left:400px;
    
}
.d-non{
    display: none;
}

/* HTML: <div class="loader"></div> */



   /* HTML: <div class="loader"></div> */
.loader {
  display: inline-flex;
  gap: 10px;
}
.loader:before,
.loader:after {
  content: "";
  height: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  background:
    radial-gradient(farthest-side,#000 95%,#0000) 50%/8px 8px no-repeat
    #fff;
  aspect-ratio: 1;
  animation: l10 1.5s infinite alternate;
}
.loader:after {
  --s:-1;
}
@keyframes l10 {
  0% ,20% {transform:scaleX(var(--s,1)) rotate(0deg) ;clip-path:inset(0)}
  60%,100%{transform:scaleX(var(--s,1)) rotate(30deg);clip-path:inset(40% 0 0)}
}
  